In [5]:
#Social_Network_Ads.csv

**Import libraries**

In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

**Importing the dataset**

In [7]:
df=pd.read_csv('Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [8]:
df=df.drop(columns=["User ID","Gender"])

In [9]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

**Splitting the dataset into the Training set and Test set**

In [10]:
x=df.drop(columns=["Purchased"])
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [11]:
y=df.Purchased
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

**Feature Scaling**

In [2]:
from sklearn.svm import SVC
model = SVC()

In [3]:
from sklearn.model_selection import GridSearchCV

In [15]:
param = {
        'C': [1,5,10,20,30],
        "gamma":[1,2,3,4,5,10,20,30],
        'kernel': ['rbf','linear']
    }

In [ ]:
grid=GridSearchCV(SVC(),param,cv=10)

In [ ]:
grid.fit(X_train, y_train)

**Fitting SVM to the Training set**

In [ ]:
pd.DataFrame(grid.cv_results_)

In [ ]:
grid.best_params_

In [ ]:
grid.best_score_

In [ ]:
model = SVC(C= 10, gamma= 3, kernel= 'rbf')

In [ ]:
model.fit(X_train, y_train)

**Predicting the Test set results**

In [ ]:
model.score(X_test, y_test)

**Making the Confusion Matrix**

In [ ]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
cm = confusion_matrix(y_test, y_pred)
train_y_pred = model.predict(X_train)
am = confusion_matrix(y_train, train_y_pred)
print(cm)
print(am)

**Visualising the Training set results**

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(am, annot=True)
plt.xlabel('Predicted')
plt.ylabel('Truth')

**Visualising the Test set results**

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sn
plt.figure(figsize=(7,5))
sn.heatmap(cm, annot=True)
plt.xlabel('Predicted')
plt.ylabel('Truth')